In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
import numpy as np
from sklearn.preprocessing import LabelEncoder,StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
from sklearn.metrics import r2_score

In [ ]:
df=pd.read_csv('dataset.csv')
df=df.drop('User ID',axis=1)
df

     Gender  Age  EstimatedSalary  Purchased
0      Male   19            19000          0
1      Male   35            20000          0
2    Female   26            43000          0
3    Female   27            57000          0
4      Male   19            76000          0
..      ...  ...              ...        ...
395  Female   46            41000          1
396    Male   51            23000          1
397  Female   50            20000          1
398    Male   36            33000          0
399  Female   49            36000          1

[400 rows x 4 columns]

In [ ]:
real_x=df.drop("Purchased",axis=1)

In [ ]:
real_x=real_x.to_numpy()

In [ ]:
le=LabelEncoder()
real_x[:,0]=le.fit_transform(real_x[:,0])

In [ ]:
sc=StandardScaler()
real_x=sc.fit_transform(real_x)

In [ ]:
classifier=LogisticRegression(random_state=0)

In [ ]:
real_y=df["Purchased"]
real_y=real_y.to_numpy()

In [ ]:
training_x,testing_x,training_y,testing_y=train_test_split(real_x,real_y)

In [ ]:
classifier.fit(training_x,training_y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=0, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
pred_y=classifier.predict(testing_x)

In [ ]:
result=confusion_matrix(testing_y,pred_y)
result

array([[66,  4],
       [10, 20]])

In [ ]:
topredict_x=[[1,55,54000]]
topredict_x=sc.fit_transform(topredict_x)
classifier.predict(topredict_x)

array([0])